<routes>

    <route match=":module">
        <route match=":controller">
            <route match=":action">
                <route match=":hash" hash="[a-z0-9]{32}"></route>
                <route match=":params"></route>
            </route>
        </route>
    </route>

    <route match=":token" controller="auth" action="checkToken" token="[a-f0-9]{40}"></route>

</routes>